<footer class="footer">
    <div class="container">
        <div>
            <div>
                <p class="text-muted">&copy; <%= new Date().getFullYear() %> Lifestyle Scanner Created by Peter Kemley. All rights reserved.</p>
                <a href="https://www.linkedin.com/in/peeetah/" class="fab fa-linkedin social-icon fa-2x" target="_blank"></a>
                <a href="https://github.com/PeterKemley" class="fab fa-github-square social-icon fa-2x" target="_blank"></a>
                <a href="mailto:peterkemley@hotmail.com" class="fas fa-envelope social-icon fa-2x" target="_blank"></a>
            </div>
        </div>
    </div>
</footer>
