/* Set the height of the HTML element to 100% of the viewport */
html {
	height: 100%;
}

/* Remove any default margin from the body */
body {
	margin: 0;
}

/* Styling for the background animation */
.bg {
	/* Apply the slide animation with a duration of 3 seconds, easing in and out, and repeating infinitely */
	animation: slide 3s ease-in-out infinite alternate;
	/* Create a background gradient with colors #6c3 and #09f */
	background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
	bottom: 0;
	left: -50%;
	opacity: 0.5; /* Set the opacity of the background */
	position: fixed; /* Fix the background position in the viewport */
	right: -50%;
	top: 0;
	z-index: -1; /* Place the background behind other elements */
}

/* Modify the background animation direction for .bg2 */
.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: 4s; /* Adjust the animation duration for .bg2 */
}

/* Adjust the animation duration for .bg3 */
.bg3 {
	animation-duration: 5s;
}

/* Define the slide animation using keyframes */
@keyframes slide {
	0% {
		transform: translateX(-25%); /* Starting position of the animation */
	}
	100% {
		transform: translateX(25%); /* Ending position of the animation */
	}
}

/* Styling for the h1 element */
* {
	font-family: monospace;
	box-sizing: border-box;
}

/* Styling for the main content */
.content {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.10em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: content-box;
  padding: 2rem;
  max-width: 90%;
  margin: 5vmin auto; /* Center vertically and horizontally using auto margins */
  overflow: auto;
}

/* Increase the size of the footer logos */
.footer-logo {
	width: 100px; /* Adjust the width to your preference */
	height: auto; /* Maintain the aspect ratio */
  }

  .form-control {
	width: 100%;
  }

/* Apply the custom font to the email input field */
input[type="email"],
input[type="text"] {
	font-family: monospace;
}


  

/* Media Query for Small Screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
	.content {
	  margin: 15vmin auto;
	  max-width: 80%;
	  position:auto;
	}
}

/* Media Query for Medium and Large Screens */
@media screen and (min-width: 768px) {
	.movedown {
		margin-top: 120vh !important;
	}
	
	.content {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute; /* Adjust position as needed */
	}
}